
/* >>>>>>>>>>>>>navCSS<<<<<<<<<<< */

body{
    width: 100%;
    height: 100%;
    /* border: 2px red solid; */
    /* background-color: #FF4C22 */
}
#navbar{
    width: 100%;
    /* border: 2px red solid; */
    
    background-color: skyblue;
    height: 10%;
    margin: auto;
    display:grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    padding: 1%;
}

#leftSpace,#login,#signup,#home{
    width: 100%;
    /* border: 2px red solid; */
    
    text-align: center;
    padding: 1% 1% 1% 1%;
    font-size: 150%;
    cursor:pointer;
}:hover{
    color: rgb(101, 156, 177);
}

a{
    text-decoration: none;
    color: white;
}